$def with(head,form)
<html>
<head>

<style>
img {
	background: white;
	}
table, th, td {
    border: 1px solid black;
	font-family: verdana;
    font-size: 12px;
	background-color: lightblue;
	font-weight: normal;
	}
.invisible-table {
	border: none;
	font-family: verdana;
    font-size: 20px;
	background-color: lightblue;
	font-weight: normal;
	width: 250px;
	}
.value { 
	font-weight: bold;
	color: darkblue;
	}
body {
	background-image: url("https://www.allegisgroup.com/_res/allegisgroup/img/testimonial-bg.jpg");
    }
</style>
</head>
<body>
<table class=invisible-table>
<td class=invisible-table>
<img src="https://www.allegisgroup.com/_res/allegisgroup/img/logo-allegis-group-sm.png"></td>
<td class=invisible-table>IWAN Configuration Generator</td>

</table>
<h1><img src="https://www.allegisgroup.com/_res/allegisgroup/img/favicon.ico" alt="Allegis Group">
$head</h1>
<form method="POST">
    $:form.render()
</form>

</body>
</html>